<%- include('includes/head') %>
<div class="bg-gradient-to-b from-indigo-100 to-indigo-400 pb-4">
    <main class="grid gap-2 sm:grid-cols-2 sm:mx-auto md:grid-cols-3 lg:grid-cols-4 mr-4 py-8 ">
        <% if(medee.length !== 0){ %>
            <% for(news of medee){ %>
                    <!-- --News Section-- -->
                    <div class="mx-[5%]">
                        <div class=" duration-300 hover:text-violet-700">
                            <div class="duration-300 cursor-pointer hover:text-violet-700">
                                <a href="/detail/<%= news.id %>"><img class=" w-full h-7/8 sm:h-52" src="<%= news.avatar %>" alt=""></a>
                                <div class="relative pb-4 bg-sky-50">
                                    <a class="text-md font-medium sm:font-light p-4" href="/detail/<%= news.id %>"> <%= news.title.slice(0, 27)%></a>
                                    <!-- --Delete and Update Section -->
                                    <div class="absolute bottom-0 right-0 flex">
                                        <!-- --Update-- -->
                                        <a href="/edit/<%= news._id %>">
                                            <button class="bg-green-400 text-white p-2 duration-300 hover:bg-green-500"><i class="far fa-edit"></i></button>
                                        </a>
                                        <!-- --Delete-- -->
                                        <form action="/delete/<%= news._id %>" method="post">
                                            <button class="bg-red-400 text-white p-2 duration-300 hover:bg-red-500">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <% } %>
                <% } else { %>
                    <h1 class="text-center mt-4 text-2xl font-semibold cursor-default">Мэдээ алга байна...</h1>
                <% } %>
        </main>
</div>
<%- include('includes/foot') %>